# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# production
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# editor / os
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# misc
.vercel
coverage/
